<h1>User</h1>
<h2>Userprofile</h2>
<h3>Small</h3>
<userprofile [user$]="user$" size="small"></userprofile>
<h3>Medium</h3>
<userprofile [user$]="user$" size="medium"></userprofile>
<h3>Large</h3>
<userprofile [user$]="user$" size="large"></userprofile>

<br>

<h1>Blup</h1>
<ul>
  <li>
    <a href="http://localhost:5555/dev/politik">politik</a>
  </li>
  <li>
    <a href="http://localhost:5555/dev/shuffle">shuffle</a>
  </li>
  <li>
    <a href="http://localhost:5555/dev/wombo2combo">wombo2combo</a>
  </li>
  <li>
    <a href="http://localhost:5555/dev/loworbitioncannon">Low Orbit Ion Cannon</a>
  </li>
</ul>
