@import 'style-paths/variables';
body {
    background-color: $background-color;
    color: $foreground-color;
}

.header-logo {
    padding: 0.1em;
    border-radius: 50%;
}

.bg-first {
    background: $accent-color-first;
}

.bg-second {
    background: $accent-color-second;
}